<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calender</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/calender.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/todoItem.css" />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/calender.js"></script>
  </head>
  <body>
    <header>
      <%- include("./shared/navbar") %>
      <a href="/" class="logo"
        ><img width="158" src="/static/img/logo.png" alt="로고 이미지"
      /></a>
    </header>
    <section class="calender">
      <div>
        <span id="year"><%= year %>년</span>
      </div>
      <div>
        <button class="imgButton leftbutton minusmonth">
          <span class="text-hidden">왼쪽 이동 버튼</span>
        </button>
        <span id="month"><%= month %>월</span>
        <button class="imgButton rightbutton plusmonth">
          <span class="text-hidden">오른쪽 이동 버튼</span>
        </button>
      </div>
      <div>
        <button class="imgButton leftbutton minusDays">
          <span class="text-hidden">왼쪽 이동 버튼</span>
        </button>
        <div class="dayContainer">
          <ul class="dayList">
            <% for( let index = 1; index <= lastDay; index++ ) { %>
            <%-include("./shared/dayItem", {day: dayNames[(firstDayOfMonth +
            index - 1) % 7] , date: `${index}`}) %> <% } %>
          </ul>
        </div>
        <button class="imgButton rightbutton plusDays">
          <span class="text-hidden">오른쪽 이동 버튼</span>
        </button>
      </div>
    </section>
    <section class="list-Wrap">
      <section class="todayTomato">
        오늘 수집한 토마토
        <p>+<span>0</span></p>
      </section>
      <section class="todo-container">
        <%-include("./shared/rotateTodoItem", {titles: titles,
        description:description, todoid: todoid}) %>
      </section>

      <button class="imgButton addTodo">
        <span class="text-hidden">일정 추가 버튼</span>
      </button>

      <!-- 일정 추가 양식 -->
      <section class="addList">
        <button class="imgButton addListClose">
          <span class="text-hidden">닫기 버튼</span>
        </button>
        <h2>일정 추가</h2>
        <form name="todoform">
          <label for="title">주제</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="공부할 주제를 입력해 주세요"
          />
          <label for="description">세부 내용</label>
          <textarea
            type="text"
            placeholder="세부 내용을 입력해 주세요"
            name="description"
            id="description"
          ></textarea
          ><br />
          <button type="button" class="button middle addListButton">
            추가
          </button>
        </form>
      </section>
    </section>
  </body>
</html>
